target-version = "py312"
line-length = 100
[lint]
select = ["E", "F", "I", "W", "UP", "B", "C4", "SIM", "T20"]
ignore = ["S101", "B008", "T201", "T203"]
per-file-ignores = { "tests/*" = ["S101", "B011", "T201"] }

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "lf"

[lint.isort]
known-first-party = ["{{ module_name }}"]
